
    <a href="#" class="button-list" role="button">Transactions<br><br>
      <table class="table">
        <% @notes.each do |transaction| %>
            <tr>
              <td><%= transaction.created_at.strftime("%m-%d-%Y") %></td>
              <td><%= transaction.explanation %></td>
              <td><%= link_to "#{number_to_currency(transaction.amount)}", transaction %></td>
            </tr>
          </a>
        <% end %>
      </table>
    <%= link_to 'New Transaction', new_account_note_path(@account) %>

  <!--<table>-->
    <!--  <thead>-->
    <!--    <tr>-->
    <!--      <th>Transaction date</th>-->
    <!--      <th>Explanation</th>-->
    <!--      <th>Amount</th>-->
    <!--      <th colspan="3"></th>-->
    <!--    </tr>-->
    <!--  </thead>-->
    <!--</table>-->
    
    <!--<td><%#= link_to 'Show', transaction %></td>-->
              <!--<td><%#= link_to 'Edit', edit_transaction_path(transaction) %></td>-->
              <!--<td><%#= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->