* {
    box-sizing: border-box;
}

body {
  background-color: #c9c070 !important;
  // background-color: #b28627 !important;
}

[class*="col-"] {
    width: 100%;  /* For mobile phones: */
    float: left;
    padding: 15px;
}


@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

.dashboard-container {
  padding: 5px;
}

.row {
  margin: 0px !important;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

// .dashboard-row {
//   margin: 0px;
// }

.dashboard-panel {
  float: left;
  padding: 20px;
  border-radius: 15px;
  color: #ffffff;
  width: 100%;
}


.income-panel {
  background-color: #8D1212;
  border: 1px solid #3D3D41;
  // margin-bottom: 25px;
  // width: 50%;
  // float: right;
}

.accounts-panel {
  background-color: #1B15A1;
  border: 1px solid #3D3D41;
  // width: 50%;
  // display: block;
  // float: left;
}

.bills-panel {
  background-color: #0C7691;
  border: 1px solid #3D3D41;
  // width: 50%;
  // float: right;
}

.loans-panel {
  background-color: #476311;
  border: 1px solid #3D3D41;
  // width: 50%;
  // float: right;
}

.credit-panel {
  background-color: #5E0668;
  border: 1px solid #3D3D41;
  // width: 50%;
  // float: right;
}


// @media only screen and (max-width: 600px) {
//     .dashboard-container {
//         background-color: lightblue;
//     }
// }