<%= form_for(@category) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
  <div class="form-group">
    <label class="control-label sr-only" for="category_name">Category Name:</label>
    <input type="text" name="category[name]" id="category_name" placeholder="Category Name" class="form-control" autofocus="true">
  </div>
  
  <div class="form-group">
    <label class="control-label sr-only" for="category_budget_ammount">Category Name:</label>
    <input type="text" name="category[budget_amount]" id="category_budget_amount" placeholder="Budget Amount" class="form-control">
  </div>
  
  <div class="actions">
    <%= f.submit "Create Category", class: "btn btn-primary" %>
  </div>
<% end %>
